body{
    background-color: rgb(21, 33, 32);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Times New Roman', Times, serif;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px -1px snow;
    width: 60%;
    margin-top: 10vh;
    padding: 1em;
}

.user-section{
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

#user-input{
    padding: 0.4em;
    width: 70%;
}

#search-btn{
    padding: 0.4em;
    width: 25%;
}

.stats-section{
    margin-top: 1em;
    display: flex;
    flex-direction: column;
}

.progress{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 1em;
    padding: 1em;
}

.circle{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid green;
    background: conic-gradient(greenyellow var(--progress-deg, 0%),green 0%);
}